$black: #444444;
$fieldColor: #B3E1CE;
$textColor: #fff6d5;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, $black, #009a5b);
}

main {
  color: $textColor;
  font-family: sans-serif;
  text-align: center;
}

button {
  background: $textColor;
  color: $black;
  cursor: pointer;
  margin: 0.5rem;
  border: $black 1px solid;
}

input {
  background: $fieldColor;
  color: $black;
  border: $black 1px solid;
}

tr:nth-child(even) {
  background-color: #ffffff20;
}

table {
  border-collapse: collapse;
}

th {
  background-color: $black;
  color: $textColor;
}

th, td {
  padding: 10px;
  border: 1px solid $black;
}

